body{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: flex; */
    

}
/* .phone{
    padding-left: 20px;
    display: block;
    
} */

.comp{
margin-left: 125px;
display: block;

}

.container{
    width: 870px;
    height: 900px;
    margin-left: 190px;
    box-sizing:border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: aquamarine;
    border-radius: 3px;
}
h2{
    padding-left: 10px;
}


.content{
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 15px;
    
}
/* .conts{
    margin-left: 90px;
} */

.sect1{
    display: flex;
    margin-left: 10px;
    gap: 200px;
    padding-top: 10px;
}
.sect2{
    display: flex;
    margin-left: 10px;
    gap: 76px;
    padding-top: 10px;

}
.sect3{
    display: flex;
    margin-left: 10px;
    gap: 72px;
    padding-top: 10px;
    margin-top: 10px;

}

.sect4{
    display: flex;
    margin-left: 10px;
    gap: 72px;
    padding-top: 10px;
    margin-top: 10px;
}
.sect5{
    display: flex;
    margin-left: 10px;
    gap: 310px;
    padding-top: 10px;

}
.sect6{
    display: flex;
    margin-left: 10px;
    gap: 72px;
    padding-top: 10px;

}
.sect7{
    display: flex;
    margin-left: 10px;
    gap: 200px;
    padding-top: 10px;

}
.sect8{
    display: flex;
    margin-left: 10px;
    gap: 72px;
    padding-top: 10px;

}
select{
    width: 100px;
    height: 20px;
    border-bottom: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: grey
    

}





